<div class="parent">
    <div class="fixed-left">
        <span class="rotate">#PLACEMENTS</span>
    </div>
    <div class="right">
        <h1></h1>
        <div class="table">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Serial Column -->
                <ng-container matColumnDef="serial">
                  <th mat-header-cell *matHeaderCellDef style="background-color: rgba(255, 69, 0, 0.4);"> No. </th>
                  <td mat-cell [ngClass]="index % 2 == 0 ? 'row-alternate' : 'row-odd'" *matCellDef="let i = index; index as index"> {{i + 1}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef style="background-color: rgba(255, 69, 0, 0.4);"> Name </th>
                  <td mat-cell [ngClass]="index % 2 == 0 ? 'row-alternate' : 'row-odd'" *matCellDef="let element; index as index"> {{element.name}} </td>
                </ng-container>
              
                <!-- Branch Column -->
                <ng-container matColumnDef="branch">
                  <th mat-header-cell *matHeaderCellDef style="background-color: rgba(255, 69, 0, 0.4);"> Branch </th>
                  <td mat-cell [ngClass]="index % 2 == 0 ? 'row-alternate' : 'row-odd'" *matCellDef="let element; index as index"> {{element.branch}} </td>
                </ng-container>
              
                <!-- Company Column -->
                <ng-container matColumnDef="company">
                  <th mat-header-cell *matHeaderCellDef style="background-color: rgba(255, 69, 0, 0.4);"> Company </th>
                  <td mat-cell [ngClass]="index % 2 == 0 ? 'row-alternate' : 'row-odd'" *matCellDef="let element; index as index"> {{element.company}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              
              
        </div>
    </div>
</div>