<div class="parent">
    <div class="fixed-left">
        <span class="rotate">#TPO_ABOUT</span>
    </div>
    <div class="right">
        <div class="about">
            <h1>About Us</h1>
            The college has a separate Office of Training and Placement managed by a dedicated team. OTP is a platform
            for the Training and Placement of students and acts as a window between students and the outside
            organizations. The Office of Training and Placement establishes contacts with industrial houses to arrange
            training and placement of the students. The Office of Training and Placement guides and helps the final year
            students in securing fruitful career with their knowledge and achievements, by organizing campus Interviews
            and exploring various avenues for their placement. Previously, OTP had MoU with TCS to train the students
            for placement. The department extends all possible help and provides all available infrastructure facilities
            to the organizations and their respective officials conducting campus interviews in the college campus. OTP
            conducts following key activities, regularly:
        </div>
        <div class="slide">

                    <!-- <div class="img-holder"><img src="../../../assets/tpoGallery/20230904_112836.jpg" alt=""></div>
                    <div class="img-holder"><img src="../../../assets/tpoGallery/20230904_113100.jpg" alt=""></div>
                    <div class="img-holder"><img src="../../../assets/tpoGallery/20230904_114251.jpg" alt=""></div>
                    <div class="img-holder"><img src="../../../assets/tpoGallery/20230904_124521.jpg" alt=""></div> -->
            
        </div>
    </div>
</div>