<div class="parent">
    <div class="fixed-left">
        <span class="rotate">#TPO_GECJ</span>
    </div>
    <div class="right">
        <div class="principalDesk">
            <div class="principal-content">
                <div class="headline">
                    <b>From Principal Desk</b>
                </div>
                <div class="textContent">
                    Engineering College, Jhalawar is providing such an environment which is technically focused and is following a structured system of revising the curriculum, which not only helps students to pace up with the changing technical scenario but also helps in overall development of our students. Our students are evolving not only as professional engineers and expert in the specializations, but also as excellent human beings. I am fully confident that any organization our students join, will be proud of them.
                </div>
                <div class="name">Dr. Kartar Singh</div>
                <div class="position">(Pricipal, GECJ)</div>
            </div>
            <div class="img-principal"><img src="../../../assets/tpoGallery/principal.jpg" alt="Principal Desk"></div>
        </div>
        <div class="rightTagLine">
            <div class="tagLine">
                For the students & by the students
            </div>
            <div class="text-anim">
                <span>Our dedicated Office of Training & Placement (OTP) serves as a</span>
                <span>dynamic bridge between our students and the world of opportunities</span>
                <span>beyond our campus. With a resolute focus on student growth and</span>
                <span>succes, OTP plays a pivotal role in facilitating training and placement endeavors.</span>
            </div>
        </div>
        <div class="tpoDesk">
            <div class="img-tpo"><img src="../../../assets/tpoGallery/adminGECJ.jpg" alt="TPO Image"></div>
            <div class="tpo-content">
                <div class="headline">
                    <b>Training & Placement Officer</b>       
                </div>
                <div class="textContent">
                    The Office of Training & Placement (OTP) works tirelessly, ensuring fruitful career for students, across various industries and helping individual’s endeavour to be a successful entrepreneur. Our students are provided with good facilities and enjoy a healthy environment so that they fully imbibe the concepts and thereby manifest their knowledge in the real world. I sincerely thank all the companies/ industries that visited our campus for recruitment and internship. We in OTP, will continue its efforts in this direction by facilitating industrial training/ internships, and inviting companies/institutions/ organizations of repute for placement.
                </div>
                <div class="name">Mr. Abhishek Soni</div>
                <div class="position">(Assistant Professor, Department of Information & Technology)</div>
            </div>
        </div>
        <div class="colAffiliation">
            <div class="colAffImg">
                <a href="http://gecj.ac.in/" target="_blank">
                    <img src="../../../assets/tpoGallery/college.jpg" alt="College Image">
                </a>
                <div class="colImgText">
                    <span>
                        The Engineering College Jhalawar is affiliated to the <span><a href="https://www.rtu.ac.in/index/"  target="_blank">Rajasthan Technical University Kota</a></span> and the courses are duly approved by <span><a href="https://www.aicte-india.org/"  target="_blank">AICTE New-Delhi</a></span>.
                    </span>
                </div>
            </div>
            <div class="colContent">
                <span>
                    Guiding our final-year students towards promising careers, the office of Training and Placement harnesses their knowledge and achievements, ensuring a seamless transition from academia to the professional realm. Our commitment is exemplified through meticulously organized on-campus interviews and an exploration of diverse avenues for placement.  
                </span>
            </div>
        </div>
        <div class="note">
            <span><img src="../../../assets/icons/iconmonstr-quote-1-32.png" alt=""></span>
            Notably, our history includes a successful Memorandum of Understanding (MoU) with TCS, a testament to our dedication to student preperation for placement. We extend unwavering support and provide top-notch infrastructure facilities to organization and their representatives who conduct impactful campus interviews within our college premises. 
        </div>
    </div>
</div>