<div class="parent">
    <div class="fixed-left">
        <span class="rotate">#PLACEMENT_POLICY</span>
    </div>
    <div class="right">
        <h1>The Office of Training & Placement have following placement policies:</h1>

        <div class="imagesContent">
            <div class="row">
                <div class="img1 img"></div>
                <div class="content">Periodic Conduction of IQ tests.
                    <hr class="hr1">
                    <hr class="hr2">
                </div>
            </div>
            <div class="row">
                <div class="content">Arrangement of Personality Development Workshops.
                    <hr class="hr1">
                    <hr class="hr2">
                </div>
                <div class="img2 img"></div>
            </div>
            <div class="row">
                <div class="img3 img"></div>
                <div class="content">Trains students in aptitude tests, interview techniques, group discussions.
                    <hr class="hr1">
                    <hr class="hr2">
                </div>
            </div>
            <div class="row">
                <div class="content">Notification regarding various competitive examinations.
                    <hr class="hr1">
                    <hr class="hr2">
                </div>
                <div class="img4 img"></div>
            </div>
            <div class="row">
                <div class="img5 img"></div>
                <div class="content">Organizes industrial visits.
                    <hr class="hr1">
                    <hr class="hr2">
                </div>
            </div>
            <div class="row">
                <div class="content">Guides students wishing to pursue Higher Education.
                    <hr class="hr1">
                    <hr class="hr2">
                </div>
                <div class="img6 img"></div>
            </div>
        </div>
        <h1>Placement Rules</h1>
        <ul>
            <li>
                Students who are eligible according to a comulany’s criteria will be allowed to sit for their written
                test or appear for their interviews.
            </li>

            <li>

                Once a student is selected in a company, he/she can appear for the test/interview of the next company
                even without rejecting the previous job offer.
            </li>
        </ul>
        <div class="note">
            <span class="quote"><img src="../../../../assets/icons/iconmonstr-quote-1-32.png" alt=""></span>
            **Note: The Training and Placement Cell firmly believes in taking feedback from the companies that have visited since the feedback from the company serves as a yardstick regarding the performance of the students. This helps the Training and Placement Cell in concentrating on various areas for improvement in the students.
        </div>
    </div>
</div>